<div class="col-xs-4">
  <%= link_to image_tag(movie.image.poster), movie_path(movie) %> 
  <h2><%= link_to movie.title, movie_path(movie) %></h2> 
  <h2><%= movie.review_average %>/10</h2>
  <h4><%= formatted_date(movie.release_date) %></h4>
  <h4><%= movie.runtime_in_minutes %> minutes </h4>
</div>