<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<h2>Search for Movie:</h2>
<%= form_tag("/", method: "get") do %>
  <div>
    <%= label_tag(:title, "Title:") %>
    <%= text_field_tag(:title) %>
  </div>
  <div>
    <%= label_tag(:director, "Director:") %>
    <%= text_field_tag(:director) %>
  </div>
  <div>
    <%= label_tag(:duration, "Duration") %>
    <%= select_tag(:duration, options_for_select([["Under 90 minutes", 1], ["Between 90 and 120 minutes", 2], ["Over 120 minutes", 3]])) %>
  </div>
  <div>
    <%= submit_tag("Search") %>
  </div>
<% end %>
<hr>

<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image.poster), movie_path(movie) %> 
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes </h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>