<%= form_for [:admin, @admin_user] do |f| %>
 <% if @admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @admin_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :firstname, "First name"%>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :lastname, "Last name" %>
    <%= f.text_field :lastname %>
  </div>
  <div>
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password, "Password"%><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.check_box :admin %> Admin
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>