<h2>All Users</h2>
<%= paginate(@admin_users) %>
<div style="padding-left: 7em; padding-right: 7em">
<table class="table table-striped text-left">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.full_name %></td>
        <td><%= admin_user.email %></td>
        <td><%= link_to 'Show', admin_user_path(admin_user.id) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(admin_user.id) %></td>
        <td><%= link_to 'Destroy', admin_user_path(admin_user.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<button class="btn btn-default"><%= link_to 'New User', new_admin_user_path %></button>
