<h2>Write a review of <em><%= link_to @movie.title, movie_path(@movie) %></em></h2>
<div style="padding-left: 15em; padding-right: 15em ">
  <%= form_for([@movie, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div class="row">
        <div class="col-xs-12">
          <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
          <ul>
            <% @review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div >
      <%= f.label :text, "Review" %><br>
      <%= f.text_area "text", class: "form-control", rows:"4" %>
    </div>
    <div style="padding-top: 1em">
      <%= f.label :rating_out_of_ten, "Rating(out of 10)" %><br>
      <%= f.number_field :rating_out_of_ten, class: "form-control" %>
    </div>
    <div style="padding-top: 1em">
      <%= f.submit "Submit", class: "btn btn-default" %>  
    </div>
  <% end %>
</div>